@model EmployeeAppModels.BlogUser.BlogUserModel
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 bg-light bg-danger">
                <h1>Blog User List</h1>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-dark table-hover ">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                                <th>PHONE</th>
                                <th>WEBSITE</th>
                                <th>COMPANY</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            @if (Model.BlogUserListView != null)
                            {
                                @foreach (var user in Model.BlogUserListView)
                                {
                                    <tr>
                                        <td><a href="/BlogPost">Show Posts</a></td>
                                        <td>@user.id</td>
                                        <td>@user.name</td>
                                        <td>@user.username</td>
                                        <td>@user.email</td>                                        
                                        <td>@user.phone</td>
                                        <td>@user.website</td>
                                        <td>@user.company.name</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">No User available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>