@model EmployeeModel
@{
    ViewData["Title"] = "Home Page";
}

<script>
    function EditEmployee(empID) {
        console.log(empID);
        $("#btnSubmit").val("update");
        $.ajax({
            type: 'POST',
            url: 'Home/Update',
            data: {
                EmployeeID: empID
            },
            success: function(response)
            {
                console.log(response);
                $("#hdnEmployeeID").val(response.employeeID);
                $("#txtEmpName").val(response.employeeName);
                $("#txtEmpMmobNum").val(response.mobileNum);
                $("#txtEmailID").val(response.emailID);
                //$("#txtDOB").val('1990/02/02');
                $("#txtDOB").val(response.dob);
                $("input[name=gender]").val([response.gender]);
                $("#txtEmpPlace").val(response.place);
                $("#ddlDepartment").val(response.department).trigger('change');
            }
        })
    }
</script>   

<div class="container-fluid">
    <div class="container">
        <form method="post">
            <div class="row">
                <input type="hidden" id="hdnEmployeeID" asp-for="EmployeeID" id="hdnEmployeeID" />
                <div class="col-3">
                    <label class="form-label">Employee Name</label>
                    <input type="text" class="form-control" asp-for="EmployeeName" id="txtEmpName" />
                </div>
                <div class="col-3">
                    <label class="form-label">Mobile num</label>
                    <input type="text" class="form-control" asp-for="MobileNum" maxlength="10" id="txtEmpMmobNum"/>
                </div>
                <div class="col-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="EmailID" id="txtEmailID"/>
                </div>
                <div class="col-3">
                    <label class="form-label">Date of birth</label>
                    <input type="date" class="form-control" id="txtDob" asp-for="DOB" id="txtDOB" />
                </div>
                <div class="col-3">
                    <label class="form-label">Gender</label><br />
                    <input type="radio" name="gender" value="1" asp-for="Gender" id="rdMale"/>Male
                    <input type="radio" name="gender" value="2" asp-for="Gender" id="rdFemale"/>Female
                </div>
                <div class="col-3">
                    <label class="form-label">Place</label>
                    <input type="text" class="form-control" asp-for="Place" id="txtEmpPlace" />
                </div>
                <div class="col-3">
                    <label class="form-label">Department</label>
                    <select asp-for="Department" asp-items="@(new SelectList(Model.DepartmentListView,"DepartmentID","DepartmentName"))" class="form-control" id="ddlDepartment"></select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <input id="btnSubmit" type="submit" name="submit" class="btn btn-success" value="save" />
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table table-success table-borderless table-hover table-striped">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Mobile No:</td>
                                    <td>Email</td>
                                    <td>Date of birth</td>
                                    <td>Gender</td>
                                    <td>Place</td>
                                    <td>Department</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var EmpData in @Model.EmployeeListView)
                                {
                                    <tr>
                                        <td>@EmpData.EmployeeName</td>
                                        <td>@EmpData.MobileNum</td>
                                        <td>@EmpData.EmailID</td>
                                        <td>@EmpData.DOB</td>
                                        <td>@EmpData.Gender</td>
                                        <td>@EmpData.Place</td>
                                        <td>@EmpData.Department</td>
                                        <td><a class="btn btn-success btn-sm" id="EmpId" onclick="EditEmployee(@EmpData.EmployeeID);">Edit</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    if (Model.SuccessRate == 1)
    {
        <script>
            alert('Saved');
        </script>
    }
}
